.heading h1{
	color:ffffff;
	font-family: "Open Sans",Arial;
	text-align: center;
	padding-left: 30px;
	text-shadow:2px 2px 3px gray;
	font-size: 35px;

	/*height: */
}
.wrapper{
	background-color:#185365;
	text-align:center;
	padding-left: 0;

}



.page-wrapper{
	background-color: #03415a;
	 min-height: 476px;
	 font-size: 25px;
	 padding-left: 25px;
	 font-weight: 30px;
	 padding-top: 20px;
	 width: 22.75%;
	 text-align: left;

}
	 .page-wrapper ul li a{

	 color:#ffffff;
	 text-align:left;
	 font-size: 23px;
	 font-weight: bold;

	 }

.welcome{
	color:black;
	font-size: 18px;
	padding-right: 10px;
	padding-top: 134px;


}
.welcome ul li{
	color:#ffffff; 
}
.welcome ul li a{
	color: #ffffff;
	background-color: #428bcf;

}
.list{
	text-align: left;
	
	font-weight: bold;
	
	padding-bottom: 0px;

}
.list.page-header{
	display: inline;
}
h1{
	font-size: 25px;
	font-weight: bold;
	color: #ffffff;
}
h2{
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	padding-left: 40px;
}
.container piechart{
	background-color: #ffffff;
	position: absolute;
}
.well-lg{
	min-height: 500px;
	margin: 0px;
}






