.forget{
	color: red;
}
.login{
	padding-top:100px; 
	padding-bottom: 44px;
	
}
.panel-default {
	border-style: ridge;
}
h3{

	text-align: center;
}
.btn-primary{
	font-weight: bold;
	padding-left: -1px;
}
.login_well{
	background-color: #DDD;
	padding-bottom: 75px;
	padding-top:75px; 
}
h1{
	font-size: 15px;
	font-style: oblique;
}






